.main_Header_Box {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 80.96px;
  width: 327px;
  height: 32px;
}
.header_Text {
  width: 113.04px;
  height: 32px;
  fill: #000;
}
.start_Slideshow {
  color: #7d7d7d;
  text-align: right;
  font-family: "Libre Baskerville";
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
}
.start_Slideshow:hover {
  cursor: pointer;
  color: #000;
}
.start_Slideshow:active {
  color: #3a3a3a;
}

.header_Div_Line {
  width: 375px;
  height: 1px;
  background: #e5e5e5;
  margin-top: 23px;
}
